@page
@model Portfolio.Pages.Code.ScottFalboCodeModel
@{
}

<h1 class="page-title code-title">Code</h1>
<div>
    <partial name="Code/_CodeIntro" />
</div>

<section class="projects">
    <partial name="_Projects" />
</section>

<section class="skills">
    <partial name="_Skills" />
</section>

<section id="general-contact" class="@(Model.WasSent ? "":"general-contact-hide")">
    <partial name="Code/_Contact" />
</section>