@page
@model Portfolio.Pages.Code.ScottFalboCodeModel
@{
}


<div>
    <partial name="Code/_CodeIntro" />
</div>

<section class="projects">
    <partial name="_Projects" />
</section>

<section class="skills">
    <partial name="_Skills" />
</section>