@page
@model Portfolio.Pages.Code.SecretGameModel
@{
    Layout = null;
}

<link rel="stylesheet" href="~/js/secretgame/styles/base.css" />

<main id="secret-game-container">

</main>

<script src="~/js/secretgame/main.js"></script>