@page
@model Portfolio.Pages.Code.SecretGameModel
@{
}



<div id="secret-game">

</div>


<script type="module" src="~/dist/SecretGame.js"></script>
<script type="module" src="~/dist/Components/TestComp.js"></script>
