
.gallery-thumbs{
    width: 90%;
    min-width: 360px;
    margin: 10px auto;
    padding: 10px;
    background-color: #151515;
    border-radius: 10px;
}

.thumb-container {
    display: flex;
    flex-flow: row wrap;
    padding: 5px;
}

.gallery-thumbs figure {
    width: 150px;
    height: 150px;
    margin: 5px;
}

.gallery-thumbs img {
    image-rendering: -moz-crisp-edges;
    height: 100%;
    box-shadow: 0px 5px 5px black;
}

.show-gallery {
    visibility: hidden;
}

.tattoo-gallery {
    position: fixed;
    top: 0;
    z-index: 100;
}

.close-gallery {
    cursor: pointer;
    position: absolute;
    z-index: 1000;
    width: 40px;
    height: 40px;
    border: 2px #d2ffd8 solid;
    border-radius: 20px;
    background-color: #121212;
    text-align: center;
    box-shadow: 0px 5px 5px black;
    line-height: 20px;
    color: #d2ffd8;
    font-size: 30px;
    padding: 7px 5px;
}


.tattoo-gallery figure {
    max-height: 100vh;
}

.tattoo-gallery figure img {
    height: inherit;
}
