
.gallery-thumbs{
    width: 90%;
    min-width: 360px;
    margin: 10px auto;
    padding: 10px;
    background-color: #151515;
    border-radius: 10px;
}

.thumb-container {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    padding: 5px;
}

.gallery-thumbs figure {
    width: 150px;
    height: 150px;
    margin: 5px;
}

.gallery-thumbs img {
    image-rendering: -moz-crisp-edges;
    height: 100%;
    box-shadow: 0px 5px 5px black;
}

.show-gallery {
    visibility: hidden;
}

.tattoo-gallery {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 100;
}

.close-gallery {
    cursor: pointer;
    z-index: 1000;
    width: 40px;
    height: 40px;
    border: 2px #d2ffd8 solid;
    border-radius: 20px;
    background-color: #121212;
    text-align: center;
    box-shadow: 0px 5px 5px black;
    line-height: 20px;
    color: #d2ffd8;
    font-size: 30px;
    padding: 7px 5px;
    position: absolute;
    top: 0;
    right: 0;
    margin: 10px;
}

@media (max-width: 775px) {
    .tattoo-gallery {
        height: 100%;
        width: 100%;
        background-color: rgba(0, 0, 0, .8);
        display: inline-block;
    }
    .tattoo-gallery figure {
        width: 100%;
        height: 100vh;
        position: relative;
    }

    .tattoo-gallery figure img {
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        max-height: 100vh;
        object-fit: contain;
    }
}

/*Scott Falbo Art Home page style*/

.art-intro-container {
    color: #f19f24;
}

/*Mobile*/
@media (max-width: 775px){
    .art-intro-container{
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 1fr, 1fr;
    }

    .art-intro-container > div:first-child {
        grid-column: 1/2;
        grid-row: 1/2;
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 200px, 1fr, 1fr;
    }

    .art-intro-container > div:last-child {
        grid-column: 1/2;
        grid-row: 2/3;
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 50px, 1fr, 1fr;
    }

    .art-intro-container figure {
        grid-column: 1/2;
        grid-row: 1/2;
    }

    .art-intro-container figure > img {
        max-width: 400px;
    }

    .title {
        grid-column: 1/2;
        grid-row: 2/3;
        padding: 10px;
    }

    .gallery-links {
        grid-column: 1/2;
        grid-row: 3/4;
        padding: 10px;
    }

    .gallery-links a {
        display: inline-block;
    }

    .art-intro-container > div:last-child article {
        padding: 10px;
        margin-bottom: 10px;
    }
}

/*Tablet and Desktop style*/
@media (min-width: 776px){
    .art-intro-container {
        display: grid;
        grid-template-columns: 1fr, 1fr;
        grid-template-rows: 1fr;
    }

    .art-intro-container > div:first-child{
        grid-column: 1/2;
        grid-row: 1/2;
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 1fr, 1fr, 1fr;
    }

    .art-intro-container > div:last-child {
        grid-column: 2/3;
        grid-row: 1/2;
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 50px, 1fr, 1fr;
        padding: 5px;
    }

    .art-intro-container figure {
        grid-column: 1/2;
        grid-row: 1/2;
    }

    .art-intro-container figure > img {
        max-width: 400px;
    }

    .title {
        grid-column: 1/2;
        grid-row: 2/3;
        padding: 10px;
    }

    .gallery-links{
        grid-column: 1/2;
        grid-row: 3/4;
    }

    .art-intro-container > div:last-child > article {
        grid-column: 1/2;
        grid-row: 2/3;
        text-align: left;
        width: 100%;
        padding: 10px;
        background-color: #121212;
        border-radius: 5px;
        white-space: pre-wrap;
    }

    .art-intro-container > div:last-child > div {
        padding: 5px;
    }

    .art-intro-container > div:last-child > div > img {
        width: 100%;
    }

    .insta-gallery {
        grid-column: 1/2;
        grid-row: 3/4;
        padding: 10px;
    }

    .insta-gallery h2{
        padding: 10px;
    }

    .art-intro-container > div:last-child > div{
        grid-column: 1/2;
        grid-row: 1/2;
    }
    .tattoo-gallery figure img {
        max-height: 100vh;
        object-fit: contain;
    }
    .tattoo-gallery figure {
        background-color: rgba(0, 0, 0, .8);
        max-height: inherit;
        width: inherit;
    }
}

/*Homepage shared*/

.insta-gallery-viewer {
    padding: 10px;
}

.insta-thumb-container {
    display: flex;
    flex-flow: row wrap;
}

.insta-thumb-container img{
    margin: 5px;
}

/*Request form stuff*/
.hide-confirmation{
    visibility: hidden;
}

.show-confirmation {
    position: fixed;
    top: 20%;
    left: 50%;
    transform: translateX(-50%);
    background-color: #000;
    color: #9ff8bb;
    width: 300px;
    height: 300px;
    border: 2px solid #9ff8bb;
    border-radius: 10px;
    padding: 10px;
    box-shadow: 0px 5px 5px black;
}

.show-confirmation > div {
    background-color: #121212;
    border-radius: 10px;
    height: 100%;
}

.show-confirmation > div  p {
    padding: 5px;
    font-size: 1.2em;
}

#email-confirm {
    margin-top: 30px;
    height: 40px;
    width: 200px;
    border: 1px solid #9ff8bb;
}

.request-sent {
    margin-top: 5px;
    color: #9ff8bb;
    font-size: 1.2em;
    padding: 10px;
}