
@media (min-width: 769px){

    .main-container {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 1fr, 1fr, 1fr;
    }
    .intro-container {
        grid-column: 1/2;
        grid-row: 1/2;
        display: grid;
        grid-template-columns: 55%, 40%;
        grid-template-rows: 1fr;
        padding: 8px 20px 8px 20px;
    }
    .intro-inner {
        grid-column: 1/2;
        grid-row: 1/2;
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 30px 1fr, 60px;
    }
    .intro-inner h1 {
        grid-column: 1/2;
        grid-row: 1/2;
    }
    .intro-inner figure {
        grid-column: 1/2;
        grid-row: 2/3;
    }
    .social {
        grid-column: 1/2;
        grid-row: 3/4;
    }
    .intro {
        grid-column: 2/3;
        grid-row: 1/2;
        margin: auto;
        width: 90%;
        height: max-content;
    }

    .projects {
        grid-column: 1/2;
        grid-row: 2/3;
    }


    .skills {
        grid-column: 1/2;
        grid-row: 3/4;
        width: 60%;
        margin: auto;
    }

    .project-container {
        display: inline-block;
        width: 45%;
        margin: 20px auto;
    }

    .project-inner {
        display: flex;
        flex-flow: row wrap;
    }


}
