
main {
    text-align: center;
    font-family: 'Jura', sans-serif;
}

.login-form {
    margin: 0px auto 10px auto;
    padding: 10px;
}

.login-form figure {
    margin: auto;
    padding: 10px;
}

.login-form figure img {
    width: 90%;
    max-width: 500px;
}

.login-form form div input {
    margin: 5px auto;
    height: 30px;
    text-align: center;
    border-radius: 5px;
}

.login-form form div:nth-child(3) input {
    background-color: #121212;
    width: 100px;
    border-radius: 5px;
    color: #f19f24
}

.secret-lair h1 {
    padding: 10px;
    font-size: 1.2em;
    color: #b2f1bb;
}

.project-admin {
    padding: 10px;
}

.project-admin-card {
    padding: 10px;
    width: 95%;
    max-width: 420px;
    margin: 10px auto;
    background-color: #121212;
    border-radius: 10px;
}

.project-admin-card > section {
    height: 100px;
    display: grid;
    grid-template-columns: 1fr, 1fr;
    grid-template-rows: 1fr;
    width: 80%;
    border-radius: 5px;
    margin: auto;
    background-color: #000000;
    padding: 5px;
}

.project-admin-card > section > figure {
    grid-column: 1/2;
    grid-row: 1/2;
    padding: 5px;
}

.project-admin-card > section > form {
    grid-column: 2/2;
    grid-row: 1/2;
}

.project-admin-card figure img {
    width: 100%;
}

.project-admin-card > section > form > label > input {
    background-color: #000;
    color: #b6ff00;
    width: 60%;
}

.project-admin-card input {
    width: 80%;
    height: 30px;
    border-radius: 5px;
    margin: auto;
}

.project-admin-card textarea {
    width: 80%;
    margin: auto;
}

.admin-button {
    background-color: #000;
    color: #b6ff00;
    width: 60%;
}

@media (min-width: 860px) {
    .project-admin > div > section {
        display: flex;
        flex-flow: row wrap;
    }


}