
main {
    text-align: center;
    font-family: 'Jura', sans-serif;
}

.selfie {
    width: 90%;
}

.tag-line {
    margin: 10px;
    text-align: center;
    color: #93ffa2;
    font-size: 1.3em;
    padding: 10px;
}

.intro-container h1 {
    color: #d2ffd8;
    font-family: 'Exo 2', sans-serif;
}

.intro {
    text-align: left;
    margin: 8px;
    padding: 20px 10px 20px 10px;
    color: #d2ffd8;
    font-family: 'Exo 2', sans-serif;
    background-color: #121212;
    border-radius: 20px;
    white-space: pre-wrap;
}

.project-container {
    background-color: #2e3430;
    padding: 10px;
    border-radius: 10px;
    margin: 15px;
}

.projects h2 {
    margin: 7px;
    margin-bottom: 15px;
    font-size: 1.6em;
    color: #b2f1bb;
}

.project-caption {
    margin: 5px;
    text-align: left;
    color: #93ffa2;
    padding: 7px;
    white-space: pre-wrap;
}

.projects  figure  img {
    margin-top: 10px;
    width: 90%;
}

.projects h3 {
    font-size: 1.3em;
    margin: 5px;
    padding: 8px;
    color: #a9fff3;
}

.projects figure {
    background-color: #000000;
    border-radius: 10px;
    padding: 5px;
}

.project-link a {
    color: #73f0ee;
    padding: 10px;
    margin: 5px;
}

.skills h2 {
    font-size: 1.3em;
    margin: 5px;
    padding: 8px;
    color: #93ffa2;
}

/*code/art menu bouttons*/

.main-menu-nav{
    padding: 5px;
}

.main-menu-nav li{
    display: inline-block;
    margin: auto 10px;
    width: 70px;
}

.main-menu-nav figcaption {
    color: #96f16e;
    text-align: center;
}

.main-menu-nav img {
    border-radius: 40px;
    width: 60px;
    margin: auto;
    border: 2px solid #74ec85;
}

@media (max-width: 768px){
    .desktop-menu{
        visibility: hidden;
        height: 1px;
    }

    .index-image{
        visibility: hidden;
        height: 1px;
    }
}


/*Desktop*/

@media (min-width: 769px) {

    body {
        background-color: #121212;
    }

    header nav {
        background-color: #000;
    }

    .main-container {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 1fr;
    }

    .intro-container {
        grid-column: 1/2;
        grid-row: 1/2;
        display: grid;
        grid-template-columns: 40% 60%;
        grid-template-rows: 1fr;
        padding: 10px;
    }

    .intro-left {
        grid-column: 1/2;
        grid-row: 1/2;
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 280px 200px;
    }
    .intro-left figure {
        grid-column: 1/2;
        grid-row: 1/2;
        margin: auto;
    }
    .desktop-menu {
        grid-column: 1/2;
        grid-row: 2/3;
        width: 100%;
        margin: auto;
        background: #121212;
        padding: 5px;
        border-radius: 10px;
    }
    .desktop-menu ul {
        width: 100%;
    }

    .intro-right {
        grid-column: 2/3;
        grid-row: 1/2;
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 1fr, 1fr;
        padding: 10px;

    }
    .intro-right article {
        grid-column: 1/2;
        grid-row: 1/2;
        margin-bottom: 10px;
    }
    .index-image {
        width: 100%;
        grid-column: 1/2;
        grid-row: 2/3;
        max-width: max-content;
        margin: auto;
    }
    .index-image img {
        width: 100%;
    }

    footer {
        background-color: #000;
    }

    .mobile-menu{
        visibility: hidden;
        height: 1px;
    }
}