
main {
    text-align: center;
    font-family: 'Jura', sans-serif;
}

.selfie {
    width: 90%;
}

.tag-line {
    margin: 10px;
    text-align: center;
    color: #93ffa2;
    font-size: 1.3em;
}

.intro-container h1 {
    color: #d2ffd8;
    font-family: 'Exo 2', sans-serif;
}

.intro {
    text-align: left;
    margin: 8px;
    padding: 20px 10px 20px 10px;
    color: #d2ffd8;
    font-family: 'Exo 2', sans-serif;
    background-color: #121212;
    border-radius: 20px;
}

.social {
    margin: 20px 0px 20px 0px;
}

.social > a > img {
    height: 50px;
    margin: 8px 10px 8px 10px;
}

.social h2 {
    margin: 7px;
    margin-bottom: 15px;
    font-size: 1.4em;
    color: #b2f1bb;  
}

.social a p {
    font-size: 1.3em;
    padding-bottom: 5px;
}

.project-container {
    background-color: #121212;
    padding: 10px;
    border-radius: 10px;
    margin: 15px;
}

.projects h2 {
    margin: 7px;
    margin-bottom: 15px;
    font-size: 1.6em;
    color: #b2f1bb;
}

.project-caption {
    margin: 5px;
    text-align: left;
    color: #93ffa2;
    padding: 7px;
}

.projects  figure  img {
    margin-top: 10px;
    width: 90%;
}

.projects h3 {
    font-size: 1.3em;
    margin: 5px;
    padding: 8px;
    color: #a9fff3;
}

.projects figure {
    background-color: #000000;
    border-radius: 10px;
    padding: 5px;
}

.project-link a {
    color: #73f0ee;
    padding: 10px;
    margin: 5px;
}

.skills h2 {
    font-size: 1.3em;
    margin: 5px;
    padding: 8px;
    color: #93ffa2;
}

/*Desktop*/

@media (min-width: 769px) {

    body {
        background-color: #121212;
    }

    header nav {
        background-color: #000;
    }

    .main-container {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 1fr, 1fr, 1fr;
    }

    .intro-container {
        grid-column: 1/2;
        grid-row: 1/2;
        display: grid;
        grid-template-columns: 55%, 40%;
        grid-template-rows: 1fr;
        padding: 8px 20px 8px 20px;
    }

    .intro-inner {
        grid-column: 1/2;
        grid-row: 1/2;
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 30px 1fr, 60px;
    }

    .intro-inner h1 {
        grid-column: 1/2;
        grid-row: 1/2;
    }

    .intro-inner figure {
        grid-column: 1/2;
        grid-row: 2/3;
    }

    .social {
        grid-column: 1/2;
        grid-row: 3/4;
    }

    .intro {
        grid-column: 2/3;
        grid-row: 1/2;
        margin: auto;
        width: 90%;
        height: max-content;
    }

    .projects {
        grid-column: 1/2;
        grid-row: 2/3;
    }


    .skills {
        grid-column: 1/2;
        grid-row: 3/4;
        width: 60%;
        margin: auto;
    }

    .project-container {
        display: inline-block;
        width: 45%;
        margin: 20px auto;
    }

    .project-inner {
        display: flex;
        flex-flow: row wrap;
    }

    footer {
        background-color: #000;
    }
}