@import url("mainpage.css");
@import url("desktop-mainpage.css");


* {
    box-sizing: border-box;
}

html {
    background-color: #000;
}

body {
    background-color: #000000;
    margin: auto;
}

@media (max-width: 768px) {
    body {
        max-width: 540px;
    }
}


.header {
    font-family: 'Jura', sans-serif;
    color: #9ff8bb;
}

.page-title {
    font-size: 1.50em;
    color: #d7fbce;
}

.menu-button {
    color: #9ff8bb;
}

main {

}

footer {
    text-align: center;
    font-family: 'Jura', sans-serif;
    color: #526d4b;
    padding: 5px;
    margin-bottom: 8px;
    background-color: #121212;
    border-radius: 10px;
}

footer li {
    display: inline-block;
    margin: 5px 10px 5px 10px;
    color: #9ff8bb;
}

footer a {
    color: #9ff8bb;
}


