@import url("mainpage.css");

* {
    box-sizing: border-box;
}

html {
    background-color: #000;
}

body {
    background-color: #000000;
}

.header {
    font-family: 'Jura', sans-serif;
    color: #9ff8bb;
}

.page-title {
    font-size: 1.50em;
    color: #d7fbce;
}

.menu-button {
    color: #9ff8bb;
}

main {
    height: 88vh;
}

.footer {
    text-align: center;
    font-family: 'Jura', sans-serif;
}
