/* Desktop */
@media (min-width: 776px) {
    .studio-container {
        display: grid;
        grid-template-columns: 50% 50%;
        grid-template-rows: 1fr;
    }
    /*left section*/
    .studio-container section:first-child {
        grid-column: 1/2;
        grid-row: 1/2;
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 40px 80px 50px 100px 1fr;
    }
    .studio-container section:first-child h2{
        grid-column: 1/2;
        grid-row: 1/2;
        padding: 20px;
        font-size: 1.7em;
    }
    .studio-container section:first-child address{
        grid-column: 1/2;
        grid-row: 2/3;
        color: #00ff90;
        padding: 10px;
    }
    .studio-container section:first-child > div{
        grid-column: 1/2;
        grid-row: 3/4;
        font-size: 1.5em;
    }
    .studio-container section:first-child > section{
        grid-column: 1/2;
        grid-row: 4/5;
    }
    .studio-container section:first-child article{
        grid-column: 1/2;
        grid-row: 5/6;
        white-space: pre-wrap;
        background-color: #121212;
        color: #9ff8bb;
        font-family: 'Jura', sans-serif;
        padding: 10px;
        border-radius: 10px;
    }

    /*right section*/
    .studio-container section:last-child {
        grid-column: 2/3;
        grid-row: 1/2;
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 80px;
    }
    .studio-container section:last-child > div {
        grid-column: 1/2;
        grid-row: 1/2;
        margin: 20px auto;
        padding: 10px;
    }
    .studio-container section:last-child > button {
        grid-column: 1/2;
        grid-row: 2/3;
        height: 40px;
        margin: 20px auto;
    }

    #google-map {
        width: 400px;
        height: 400px;
    }
}



/* Mobile */
@media (max-width: 775px) {
    .studio-container {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 1fr;
    }
    /*top section*/
    .studio-container section:first-child {
        grid-column: 1/2;
        grid-row: 1/2;
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 40px 60px 40px 80px 1fr;
    }
    .studio-container section:first-child h2{
        padding: 10px;
        grid-column: 1/2;
        grid-row: 1/2;
        font-size: 1.6em;
    }
    .studio-container section:first-child address{
        padding: 10px;
        grid-column: 1/2;
        grid-row: 2/3;
        color: #00ff90;
    }
    .studio-container section:first-child > div {
        padding: 10px;
        grid-column: 1/2;
        grid-row: 3/4;
        font-size: 1.7em;
        color: #7ffbf6;
    }
    .studio-container section:first-child > section{
        padding: 10px;
        grid-column: 1/2;
        grid-row: 4/5;
    }
    .studio-container section:first-child article{
        padding: 10px;
        grid-column: 1/2;
        grid-row: 5/6;
        white-space: pre-wrap;
        background-color: #121212;
        color: #9ff8bb;
        font-family: 'Jura', sans-serif;
        padding: 10px;
        border-radius: 10px;
        height: fit-content();
    }

    /*bottom section*/
    .studio-container section:last-child {
        grid-column: 1/2;
        grid-row: 2/3;
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 40px;
        padding: 10px;
    }
    .studio-container section:last-child > div {
        grid-column: 1/2;
        grid-row: 1/2;
    }
    .studio-container section:last-child > button {
        grid-column: 1/2;
        grid-row: 2/3;
        height: 40px;
        margin: 20px auto;
    }

    #google-map {
        width: 100%;
        min-width: 320px;
        height: 300px;
    }
}