/* Desktop */
@media (min-width: 776px) {
    .studio-container {
        display: grid;
        grid-template-columns: 50% 50%;
        grid-template-rows: 1fr;
    }
    /*left section*/
    .studio-container section:first-child {
        grid-column: 1/2;
        grid-row: 1/2;
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 40px 80px 50px 120px 1fr;
    }
    .studio-container section:first-child h2{
        grid-column: 1/2;
        grid-row: 1/2;
        padding: 20px;
        font-size: 1.7em;
    }
    .studio-container section:first-child address{
        grid-column: 1/2;
        grid-row: 2/3;
        color: #00ff90;
        padding: 10px;
    }
    .studio-container section:first-child > div{
        grid-column: 1/2;
        grid-row: 3/4;
        font-size: 1.5em;
    }
    .studio-container section:first-child > section{
        grid-column: 1/2;
        grid-row: 4/5;
    }
    .studio-container section:first-child article{
        grid-column: 1/2;
        grid-row: 5/6;
        white-space: pre-wrap;
        background-color: #121212;
        color: #9ff8bb;
        font-family: 'Jura', sans-serif;
        padding: 10px;
        border-radius: 10px;
    }

    /*right section*/
    .studio-container section:last-child {
        grid-column: 2/3;
        grid-row: 1/2;
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 80px;
    }
    .studio-container section:last-child > div {
        grid-column: 1/2;
        grid-row: 1/2;
        margin: 20px auto;
        padding: 10px;
    }
    .studio-container section:last-child > button {
        grid-column: 1/2;
        grid-row: 2/3;
        height: 40px;
        margin: 20px auto;
    }

    #google-map {
        width: 400px;
        height: 400px;
    }
}

.main-menu-nav {
    vertical-align: top;
}

/* Mobile */
@media (max-width: 775px) {
    .studio-container {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 100%;
    }
    /*top section*/
    .studio-container section:first-child {
        grid-column: 1/2;
        grid-row: 1/2;
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 40px 60px 40px 120px 1fr;
    }
    .studio-container section:first-child h2{
        padding: 10px;
        grid-column: 1/2;
        grid-row: 1/2;
        font-size: 1.6em;
    }
    .studio-container section:first-child address{
        padding: 10px;
        grid-column: 1/2;
        grid-row: 2/3;
        color: #00ff90;
    }
    .studio-container section:first-child > div {
        padding: 10px;
        grid-column: 1/2;
        grid-row: 3/4;
        font-size: 1.7em;
        color: #7ffbf6;
    }
    .studio-container section:first-child > section{
        padding: 10px;
        grid-column: 1/2;
        grid-row: 4/5;
    }
    .studio-container section:first-child article{
        padding: 10px;
        grid-column: 1/2;
        grid-row: 5/6;
        white-space: pre-wrap;
        background-color: #121212;
        color: #9ff8bb;
        font-family: 'Jura', sans-serif;
        padding: 10px;
        border-radius: 10px;
        height: fit-content();
    }

    /*bottom section*/
    .studio-container section:last-child {
        grid-column: 1/2;
        grid-row: 2/3;
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 300px 40px;
        padding: 10px;
    }
    .studio-container section:last-child > div {
        grid-column: 1/2;
        grid-row: 1/2;
    }
    .studio-container section:last-child > button {
        grid-column: 1/2;
        grid-row: 2/3;
        height: 40px;
        margin: 20px auto;
    }

    #google-map {
        width: 100%;
        min-width: 320px;
        height: 300px;
    }
}

.hidden-popup {
    visibility: hidden;
    height: 1px;
}

.studio-popup {
    position: fixed;
    top: 10%;
    left: 50%;
    transform: translateX(-50%);
    min-width: 320px;
    background-color: #000;
    color: #9ff8bb;
    width: 50%;
    height: fit-content();
    border: 2px solid #9ff8bb;
    border-radius: 10px;
    box-shadow: 0px 5px 5px black;
}
.studio-popup h2 {
    padding: 10px;
    font-size: 1.6em;
    color: #98ff67;
}
.studio-popup article {
    padding: 10px;
    color: #a8ffd4;
    white-space: pre-wrap;
}

.studio-popup button {
    width: 200px;
    height: 40px;
    border: 2px solid #9ff8bb;
    border-radius: 10px;
    margin-bottom: 10px;
    background: #000;
    color: #ffbc29;
}

article {
    text-align: left;
}

.studio-back-button {
    height: 40px;
    width: 240px;
    color: #7ffbf6;
    border: 1px solid #8dfffa;
    margin: auto;
    border-radius: 10px;
    line-height: 35px;
}