body {
  background-color: #121212;
}

/*  Header */

header {
  background-color: #000;
  font-family: 'Jura', sans-serif;
}

.page-title {
  background: url("https://via.placeholder.com/60");
  background-size: cover;
}

.page-title img {
  border: 1px solid #84faa9;
}

.page-title h1 {
  font-size: 1.1em;
  color: #84faa9;
}

header ul a > p {
  font-size: 1.1em;
  color: #84faa9;
}

header ul a > p:hover {
  color: #cbf7ff;
}


/* Mobile */
@media screen and (max-width: 480px){

}

/* Tablet */
@media screen and (min-width: 481px) and (max-width: 768px){

}

/* Laptop | Small Screen | IPad pro */
@media screen and (min-width: 769px) and (max-width: 1024px){

}

/* DeskTop | Large Displays */
@media screen and (min-width: 1025px){

}