@model Portfolio.Pages.Admin.DrawingLairModel

<h2> Add New Drawing</h2>
<div>
    <form asp-page-handler="AddDrawing" method="post" enctype="multipart/form-data">
        <label>
            <input name="file" type="file" />
            <input type="submit" value="Add Drawing" />
        </label>
    </form>
</div>