@model Portfolio.Pages.Admin.TattooLairModel

<h2> Add New Tattoo</h2>
<div>
    <form asp-page-handler="AddTattoo" method="post" enctype="multipart/form-data">
        <label>
            <input name="file" type="file" />
            <input type="submit" value="Add Tattoo" />
        </label>
    </form>
</div>