update@model Portfolio.Pages.SecretLairModel

<form asp-page-handler="UpdateInstaFeed" method="get">
    <div>
        <input class="admin-button" type="submit" value="Refresh Feed" />
    </div>
</form>

<form asp-page-handler="RefreshInstaToken" method="get">
    <div>
        <input class="admin-button" type="submit" value="Refresh Token" />
    </div>
</form>