@model Portfolio.Pages.SecretLairModel

<section class="insta-buttons">
    <form asp-page-handler="UpdateInstaFeed" method="post">
        <div>
            <input class="admin-button" type="submit" value="Refresh Feed" />
        </div>
    </form>

    <form asp-page-handler="RefreshInstaToken" method="get">
        <div>
            <input class="admin-button" type="submit" value="Refresh Token" />
        </div>
    </form>
</section>