<div class="site-nav-button">
    <a asp-page="/Art/ScottFalboArt">
        <figure>
            <img src="/images/site_logos/tattoo.png" alt="" />
            <figcaption>Art</figcaption>
        </figure>
    </a>
    <div class="mouse-over-tooltip hide-me">
        <p>Galleries</p>
    </div>
</div>