<nav class="page-nav">
    <ul>
        <li>
            <partial name="SiteNavButtons/_Instagram" />
        </li>
        @*<li>
            <partial name="SiteNavButtons/_Booking" />
        </li>*@
        <li>
            <partial name="SiteNavButtons/_Studio" />
        </li>
        <li>
            <partial name="SiteNavButtons/_Contact" />
        </li>
    </ul>
</nav>