<div class="site-nav-button">
    <a asp-page="/Art/Booking">
        <figure>
            <img src="https://via.placeholder.com/60" alt="" />
            <figcaption>Booking</figcaption>
        </figure>
    </a>
</div>
