<div class="site-nav-button">
    <a asp-page="/Code/ScottFalboCode">
        <figure>
            <img src="/images/site_logos/code.png" alt="" />
            <figcaption>Code</figcaption>
        </figure>
    </a>
    <div class="mouse-over-tooltip hide-me">
        <p>Coding Portfolio</p>
    </div>
</div>
