<div class="site-nav-button">
    <a href="mailto:scottfalboart@gmail.com">
        <figure>
            <img src="/images/site_logos/mail.png" alt="email: scottfalboart@gmail.com" />
            <figcaption>Contact</figcaption>
        </figure>
    </a>
    <div class="mouse-over-tooltip hide-me">
        <p>scottfalboart@gmail.com</p>
    </div>
</div>