<div class="site-nav-button">
    <a href="https://github.com/scottfalbo" target="_blank">
        <figure>
            <img src="/images/site_logos/github.png" alt="" />
            <figcaption>GitHub</figcaption>
        </figure>
    </a>
    <div class="mouse-over-tooltip hide-me">
        <p>/scottfalbo</p>
    </div>
</div>