<div class="site-nav-button">
    <a href="https://www.instagram.com/scottfalboart/" target="_blank">
        <figure>
            <img src="/images/site_logos/instagram.png" alt="" />
            <figcaption>Instagram</figcaption>
        </figure>
    </a>
    <div class="mouse-over-tooltip">
        <p>&commat;scottfalboart</p>
    </div>
</div>