<div class="site-nav-button">
    <a href="https://www.linkedin.com/in/scott-falbo/" target="_blank">
        <figure>
            <img src="/images/site_logos/linkedin.png" alt="" />
            <figcaption>LinkedIn</figcaption>
        </figure>
    </a>
    <div class="mouse-over-tooltip">
        <p>/scott-falbo</p>
    </div>
</div>