<nav class="mainpage-nav">
    <ul>
        <li>
            <partial name="SiteNavButtons/_Code" />
        </li>
        <li>
            <partial name="SiteNavButtons/_Art" />
        </li>
        <li>
            <partial name="SiteNavButtons/_GitHub" />
        </li>
        <li>
            <partial name="SiteNavButtons/_LinkedIn" />
        </li>
        <li>
            <partial name="SiteNavButtons/_Instagram" />
        </li>
        <li>
            <partial name="SiteNavButtons/_Contact" />
        </li>
    </ul>
</nav>