<div class="site-nav-button">
    <a href="http://studioarcanum.com/" target="_blank">
        <figure>
            <img src="https://via.placeholder.com/60" alt="" />
            <figcaption>Studio Arcanum</figcaption>
        </figure>
    </a>
    <div class="mouse-over-tooltip hide-me hide-me">
        <p>Studio Arcanum</p>
    </div>
</div>