<div class="site-nav-button">
    <a asp-page="/Art/StudioArcanum">
        <figure>
            <img src="https://via.placeholder.com/60" alt="" />
            <figcaption>Studio Arcanum</figcaption>
        </figure>
    </a>
    <div class="mouse-over-tooltip">
        <p>Studio Arcanum</p>
    </div>
</div>