@model Portfolio.ViewComponents.ViewModel

<div class="gallery-thumbs">
    <div class="thumb-container">
        @foreach (var tattoo in @Model.Gallery)
        {
            <figure>
                <img src="@tattoo.ImageURL" />
            </figure>
            <button type="submit" asp-></button>
        }
    </div>
</div>
<div>
    <img src="@Model.Current.Value.ImageURL" />
</div>