@model Portfolio.ViewComponents.ViewModel

<div class="gallery-thumbs">
    @foreach (var tattoo in @Model.Gallery)
    {
        <figure>
            <img src="@tattoo.ImageURL" />
        </figure>
    }
</div>
<div>
    <img src="@Model.Current.Value.ImageURL" />
</div>