@model Portfolio.Pages.IndexModel

<script>
   function onSubmit(token) {
     document.getElementById("index-contact").submit();
   }
 </script>


<section class="form-popup">
    <div>
        <form asp-page-handler="Send" method="post" id="index-contact">
            <div>
                <input type="text" asp-for="@Model.Contact.Name" class="form-control" placeholder="name" required />
            </div>
            <div>
                <input type="text" asp-for="@Model.Contact.Email" class="form-control" placeholder="email" required />
            </div>
            <div>
                <textarea type="text" cols="45" rows="6" asp-for="@Model.Contact.Body" class="form-control" placeholder="message" required></textarea>
            </div>
            @if (!Model.WasSent)
            {
                <div><input class="admin-button g-recaptcha" type="submit" value="Send Request" data-sitekey=@Model.CaptchaKey data-callback="onSubmit" data-action="submit"/></div>
            }
            else
            {
        <p class="request-sent">Your message was sent.</p>
            }
        </form>
        <button class="admin-button" id="close-popup">
            @(Model.WasSent ? "Close":"Cancel")
        </button>
    </div>
</section>