


<div class="intro-inner">
    <h1>&lt;Code&gt;</h1>
    <figure>
        <img class="selfie" src="~/images/code-selfie.png" alt="Photo of Scott Falbo" />
        <figcaption class="tag-line">Software Developer | Artist <br /> Cat Enthusiast</figcaption>
    </figure>
    <section class="social" id="contact">
        <a href="mailto:scottfalboart@gmail.com"><p>scottfalboart@gmail.com</p></a>
        <a href="https://github.com/scottfalbo" target="_blank"><img src="~/images/github-light.png" alt="github logo"/></a>
        <a href="https://www.linkedin.com/in/scott-falbo/" target="_blank"><img src="~/images/linkedIn.png" alt="linkedin logo"/></a>
        <a href="mailto:scottfalboart@gmail.com"><img src="~/images/email.png" alt="email icon"/></a>
    </section>
</div>

<article class="intro">
    Hello, my name is Scott.  I’m a software developer and artist based in Seattle.  I like learning new skills and making things.<br /><br />

    I think coding is awesome.  It's basically writing spells that command electricity and metal configurations to react.  It's puzzles and sorcery mixed into one!<br /><br />

    Before turning my focus to software development I spent over 20 years as a professional tattoo artist.  My career centered around creating custom products that not only met the clients input and vision, but also appealed visually to a larger audience.<br /><br />

    I'm excited to bring that experience to developing innovative, appealing, and accessable solutions to complex real world problems.
    <br /><br />
    If you are interested you can view my art portfolio here: <a href="https://scottfalboart.com/" target="_blank">scottfalboart.com</a>
</article>