@model Portfolio.Pages.IndexModel


<div class="intro-inner">
    <figure>
        <img class="selfie" src="@Model.HomePage.Selfie" alt="Photo of Scott Falbo" />
        <figcaption class="tag-line">@Model.HomePage.Title</figcaption>
    </figure>
    <section class="social" id="contact">
        <a href="https://github.com/scottfalbo" target="_blank"><img src="~/images/github-light.png" alt="github logo" /></a>
        <a href="https://www.linkedin.com/in/scott-falbo/" target="_blank"><img src="~/images/linkedIn.png" alt="linkedin logo" /></a>
        <a href="mailto:scottfalboart@gmail.com"><img src="~/images/email.png" alt="email icon" /></a>
        <a href="mailto:scottfalboart@gmail.com"><p>scottfalboart@gmail.com</p></a>
    </section>
</div>

<article class="intro">@Model.HomePage.Intro</article>