@model Portfolio.Pages.IndexModel


<div class="intro-inner">
    <figure>
        <img class="selfie" src="@Model.HomePage.Selfie" alt="Photo of Scott Falbo" />
        <figcaption class="tag-line">@Model.HomePage.Title</figcaption>
    </figure>
    <section class="social" id="contact">
        <ul>
            <li>
                <a asp-page="/Code/ScottFalboCode">
                    <figure>
                        <img src="https://via.placeholder.com/80x80" alt="" />
                        <figcaption>Code</figcaption>
                    </figure>
                </a>
            </li>
            <li>
                <a asp-page="/Art/ScottFalboArt">
                    <figure>
                        <img src="https://via.placeholder.com/80x80" alt="" />
                        <figcaption>Art</figcaption>
                    </figure>
                </a>
            </li>
        </ul>
    </section>
</div>

<div>
    <article class="intro">@Model.HomePage.Intro</article>
    <img src="https://via.placeholder.com/400x200" />
</div>

<a href="mailto:scottfalboart@gmail.com"><p>scottfalboart@gmail.com</p></a>