


<div class="intro-inner">
    <h1>&lt;Code&gt;</h1>
    <figure>
        <img class="selfie" src="~/images/code-selfie.png" />
        <figcaption class="tag-line">Software Developer | Artist <br /> Cat Enthusiast</figcaption>
    </figure>
    <section class="social" id="contact">
        <a href="mailto:scottfalboart@gmail.com"><p>scottfalboart@gmail.com</p></a>
        <a href="https://github.com/scottfalbo" target="_blank"><img src="~/images/github-light.png" /></a>
        <a href="https://www.linkedin.com/in/scott-falbo/" target="_blank"><img src="~/images/linkedIn.png" /></a>
        <a href="mailto:scottfalboart@gmail.com"><img src="~/images/email.png" /></a>
    </section>
</div>

<article class="intro">
    Hello, my name is Scott Falbo, I'm a software developer and artist in Seattle. <br /><br />
    As a professional tattoo artist, and studio owner, my main focus has always been to drive an agile, creative work environment, by adapting to growing or changing industry trends.<br /><br />
    My career two decade career has centered around creating, and implementing, large scale custom projects based on customer driven input.<br /><br />
    I’m enthusiastic about the opportunity to work with new people, and learn new perspectives and modalities.<br /><br />
    I view software development as the perfect intersection of creativity and technology, and  a way to solve complex puzzles or make innovative new products.
</article>