@model Portfolio.Pages.IndexModel


<div class="intro-left">
    <figure>
        <img class="selfie" src="@Model.HomePage.Selfie" alt="Photo of Scott Falbo" />
        <figcaption class="tag-line">@Model.HomePage.Title</figcaption>
    </figure>
    <section class="desktop-menu">
        <partial name="Art/_MainLinks" />
    </section>
</div>

<div class="intro-right">
    <div>
        <article class="intro">@Model.HomePage.Intro</article>
        <img src="https://via.placeholder.com/400x200" class="index-image" />
    </div>
    <section class="mobile-menu">
        <partial name="Art/_MainLinks" />
    </section>
</div>

