<div id="loading-bar-outer" class="fullscreen hide-me">
    <div id="loading-bar-inner">
        <div class="loader-box"></div>
        <div class="loader-box"></div>
        <div class="loader-box"></div>
        <div class="loader-box"></div>
        <div class="loader-box"></div>
    </div>
</div>