<div id="loading-bar-outer" class="fullscreen hide-me">
    <div id="loading-bar-inner">
        <div class="loader-box"><img src="~/images/favicon.jpg" /></div>
        <div class="loader-box"><img src="~/images/favicon.jpg" /></div>
        <div class="loader-box"><img src="~/images/favicon.jpg" /></div>
        <div class="loader-box"><img src="~/images/favicon.jpg" /></div>
        <div class="loader-box"><img src="~/images/favicon.jpg" /></div>
    </div>
</div>