<h2>Languages</h2>
<img src="https://img.shields.io/badge/C%23%20-7A1680?style=flat&logo=c%2B%2B&logoColor=ffffff">
<img src="https://img.shields.io/badge/-JavaScript-787878?style=flat&logo=javascript&logoColor=white">
<img src="https://img.shields.io/badge/-HTML5-E34F26?style=flat&logo=html5&logoColor=white">
<img src="https://img.shields.io/badge/-CSS3-1572B6?style=flat&logo=css3&logoColor=white">
<h2>Tools</h2>
<img src="https://img.shields.io/badge/.NET%20Core-7A1680?style=flat&logo=dot-net&logoColor=00c8ff">
<img src="https://img.shields.io/badge/-React-000000?style=flat&logo=react&logoColor=00c8ff">
<img src="https://img.shields.io/badge/jQuery%20-%230769AD.svg?style=flat&logo=jquery&logoColor=00c8ff">
<img src="http://img.shields.io/badge/-Visual%20Studio-7A1680?style=flat&logo=visual%20studio&logoColor=white">
<img src="http://img.shields.io/badge/-Git-F1502F?style=flat&logo=git&logoColor=FFFFFF">
<img src="http://img.shields.io/badge/-Github-000000?style=flat&logo=github&logoColor=FFFFFF">
<img src="https://img.shields.io/badge/-Unity-121212?style=flat&logo=unity&logoColor=white" />
<img src="https://img.shields.io/badge/Azure%20-%230072C6.svg?style=flat&logo=azure-devops&logoColor=00c8ff">
<img src="http://img.shields.io/badge/-VS%20Code-007ACC?style=flat&logo=visual%20studio%20code&logoColor=white">
<img src="https://img.shields.io/badge/-Xamarin-4287f5?style=flat&logo=xamarin&logoColor=white" />
<img src="https://img.shields.io/badge/Azure%20DevOps%20-%230072C6.svg?style=flat&logo=azure-devops&logoColor=00c8ff%22">
<img src="https://img.shields.io/badge/-Express.js-787878?style=flat">
<img src="https://img.shields.io/badge/-Node.js-3C873A?style=flat&logo=Node.js&logoColor=white">
<img src="http://img.shields.io/badge/-Heroku-430098?style=flat&logo=heroku&logoColor=white">
<img src="https://img.shields.io/badge/Microsoft%20SQL%20Server-CC2927?style=flat&logo=microsoft-sql-server&logoColor=00c8ff">
<img src="https://img.shields.io/badge/Postgres-%23316192.svg?style=flat&logo=postgresql&logoColor=00c8ff">