@keyframes loading-bar-1 {
    10% {
        opacity: 1;
    }
    20% {
        opacity: .8;
    }
    30% {
        opacity: .6;
    }
    40% {
        opacity: .4;
    }
    50% {
        opacity:  .2;
    }
    60% {
        opacity: 0;
    }
    70% {
        opacity: .2;
    }
    80% {
        opacity: .4;
    }
    90% {
        opacity: .6;
    }
    100% {
        opacity: .8;
    }
}

@keyframes loading-bar-2 {
    10% {
        opacity: .8;
    }
    20% {
        opacity: 1;
    }
    30% {
        opacity: .8;
    }
    40% {
        opacity: .6;
    }
    50% {
        opacity:  .4;
    }
    60% {
        opacity: .2;
    }
    70% {
        opacity: 0;
    }
    80% {
        opacity: .2;
    }
    90% {
        opacity: .4;
    }
    100% {
        opacity: .6;
    }
}

@keyframes loading-bar-3 {
    10% {
        opacity: .6;
    }
    20% {
        opacity: .8;
    }
    30% {
        opacity: 1;
    }
    40% {
        opacity: .8;
    }
    50% {
        opacity:  .6;
    }
    60% {
        opacity: .4;
    }
    70% {
        opacity: .2;
    }
    80% {
        opacity: 0;
    }
    90% {
        opacity: .2;
    }
    100% {
        opacity: .4;
    }
}

@keyframes loading-bar-4 {
    10% {
        opacity: .4;
    }
    20% {
        opacity: .6;
    }
    30% {
        opacity: .8;
    }
    40% {
        opacity: 1;
    }
    50% {
        opacity:  .8;
    }
    60% {
        opacity: .6;
    }
    70% {
        opacity: .4;
    }
    80% {
        opacity: .2;
    }
    90% {
        opacity: 0;
    }
    100% {
        opacity: .2;
    }
}

@keyframes loading-bar-5 {
    10% {
        opacity: .2;
    }
    20% {
        opacity: .4;
    }
    30% {
        opacity: .6;
    }
    40% {
        opacity: .8;
    }
    50% {
        opacity:  1;
    }
    60% {
        opacity: .8;
    }
    70% {
        opacity: .6;
    }
    80% {
        opacity: .4;
    }
    90% {
        opacity: .2;
    }
    100% {
        opacity: 0;
    }
}

#loading-bar-inner div:nth-child(1) img {
    opacity: 1;
    animation: loading-bar-1 1.5s infinite;
}

#loading-bar-inner div:nth-child(2) img {
    opacity: .8;
    animation: loading-bar-2 1.5s infinite;
}

#loading-bar-inner div:nth-child(3) img {
    opacity: .6;
    animation: loading-bar-3 1.5s infinite;
}

#loading-bar-inner div:nth-child(4) img {
    opacity: .4;
    animation: loading-bar-4 1.5s infinite;
}

#loading-bar-inner div:nth-child(5) img {
    opacity: .2;
    animation: loading-bar-5 1.5s infinite;
}