@page
@model Portfolio.Pages.Art.BookingModel
@{
}

<div>
    <partial name="Art/_ArtMenu" />
</div>
<section class="booking-page">
    <h2>Booking Info</h2>
    <article>@Model.HomePage.Intro</article>
    <div>
        <partial name="Art/_RequestForm" />
    </div>
</section>