@page
@model Portfolio.Pages.Art.BookingModel
@{
}

<div>
    <partial name="Art/_ArtMenu" />
</div>
<section class="booking-page">
    <h2>Booking Info</h2>
    <article class="intro">@Model.HomePage.Intro</article>
    <div>
        <partial name="Art/_RequestForm" />
    </div>
</section>
<section class="@(Model.WasSent ? "show-confirmation":"hide-confirmation")" id="request-confirmation"
    @*<section class="show-confirmation" id="request-confirmation">*@
        <div>
            <p>Thank you! <br /> Your request has been sent</p>
            <button id="email-confirm" class="admin-button">okily dokily</button>
        </div>
    </section>
