@page
@model Portfolio.Pages.Art.DrawingsModel
@{
}

<div>
    <partial name="Art/_ArtMenu" />
</div>

<div class="gallery-title-image">
    <h3>Drawing Gallery</h3>
</div>

<div>
    <partial name="Art/_DrawingGalleryViewer" />
</div>

<partial name="Art/_GalleryEndNav" />