@page
@model Portfolio.Pages.Art.ScottFalboArtModel
@{
}

<div>
    <partial name="Art/_ArtMenu" />
</div>
<div>
    <partial name ="Art/_ArtIntro" />
</div>
@*<div>
    <partial name="Art/_InstaGalleryViewer" />
</div>*@