@page
@model Portfolio.Pages.Art.ScottFalboArtModel
@{
    ViewData["Title"] = "Scott Falbo Art";
}

<partial name="Art/_ArtMenu" />

<div class="homepage-container">
    <div class="left-col">
        <figure>
            <img class="selfie" src="@Model.HomePage.Selfie" alt="Photo of Scott Falbo" />
            <figcaption class="tag-line">@Model.HomePage.Title</figcaption>
        </figure>
        <section class="desktop-menu">
            <partial name="SiteNavButtons/_ArtPageNav" />
            <figure>
                <img src="https://via.placeholder.com/200X100" />
            </figure>
        </section>

    </div>

    <div class="right-col">
        <article class="intro">@Model.HomePage.Intro</article>
        <section class="galleries">
            <!--Accordion wrapper-->
            <div class="accordion md-accordion" id="accordionEx" role="tablist" aria-multiselectable="true">
                <!-- Accordion card -->
                <div class="card">
                    <!-- Card header -->
                    <div class="card-header" role="tab" id="headingOne1">
                        <a data-toggle="collapse" data-parent="#accordionEx" href="#collapseOne1" aria-expanded="true"
                           aria-controls="collapseOne1">
                            <h5 class="mb-0">
                                Gallery 1 <i class="fas fa-angle-down rotate-icon"></i>
                            </h5>
                        </a>
                    </div>
                    <!-- Card body -->
                    <div id="collapseOne1" class="collapse show" role="tabpanel" aria-labelledby="headingOne1"
                         data-parent="#accordionEx">
                        <div class="card-body">
                            Anim
                        </div>
                    </div>
                </div>
                <!-- Accordion card -->
                <!-- Accordion card -->
                <div class="card">
                    <!-- Card header -->
                    <div class="card-header" role="tab" id="headingOne1">
                        <a data-toggle="collapse" data-parent="#accordionEx" href="#collapseOne1" aria-expanded="true"
                           aria-controls="collapseOne1">
                            <h5 class="mb-0">
                                Gallery 1 <i class="fas fa-angle-down rotate-icon"></i>
                            </h5>
                        </a>
                    </div>
                    <!-- Card body -->
                    <div id="collapseOne1" class="collapse show" role="tabpanel" aria-labelledby="headingOne1"
                         data-parent="#accordionEx">
                        <div class="card-body">
                            Anim
                        </div>
                    </div>
                </div>
                <!-- Accordion card -->
                <!-- Accordion card -->
                <div class="card">
                    <!-- Card header -->
                    <div class="card-header" role="tab" id="headingOne1">
                        <a data-toggle="collapse" data-parent="#accordionEx" href="#collapseOne1" aria-expanded="true"
                           aria-controls="collapseOne1">
                            <h5 class="mb-0">
                                Gallery 1 <i class="fas fa-angle-down rotate-icon"></i>
                            </h5>
                        </a>
                    </div>
                    <!-- Card body -->
                    <div id="collapseOne1" class="collapse show" role="tabpanel" aria-labelledby="headingOne1"
                         data-parent="#accordionEx">
                        <div class="card-body">
                            Anim
                        </div>
                    </div>
                </div>
                <!-- Accordion card -->
            </div>
            <!-- Accordion wrapper -->
        </section>

        <section class="mobile-menu">
            <partial name="SiteNavButtons/_MainPageNav" />
        </section>
        <figure class="mainpage-art-mobile">
            <img src="~/images/eye.png" />
        </figure>
    </div>
    @if (User.Identity.IsAuthenticated)
    {
        <partial name="_PopupToggle" />
    }
</div>


@if (User.Identity.IsAuthenticated)
{
    <div class="fullscreen popup-module-outer hide-me">
        <div class="popup-module-inner">
            <div class="admin-module">
                <section>
                    Page Admin
                </section>
                <button class="module-close-button site-button">close</button>
            </div>
        </div>
    </div>
}

