@page
@model Portfolio.Pages.Art.StudioArcanumModel
@{
}

<div>
    <partial name="Art/_ArtMenu" />
</div>
<div class="studio-container">
    <section>
        <h2>Studio Arcanum</h2>
        <address>
            4333 Fremont Ave N. <br />Seattle, WA 98103

        </address>
        <div>
            <a href="http://www.studioarcanum.com" target="_blank">www.studioarcanum.com</a>
        </div>
        <section>
            <nav>
                <ul class="main-menu-nav">
                    <li>
                        <a href="https://www.instagram.com/studioarcanum/" target="_blank">
                            <figure>
                                <img src="/images/site_logos/instagram.png" alt="" />
                                <figcaption>Instagram</figcaption>
                            </figure>
                        </a>
                    </li>
                    <li>
                        <figure>
                            <img src="/images/site_logos/instagram.png" alt="" />
                            <figcaption>policy</figcaption>
                        </figure>
                    </li>
                    <li>
                        <figure>
                            <img src="/images/site_logos/instagram.png" alt="" />
                            <figcaption>aftercare</figcaption>
                        </figure>
                    </li>
                </ul>
            </nav>
        </section>
        <article>@Model.HomePage.Intro</article>
    </section>
    <section>
        <div id="google-map"></div>
        <button type="button" onclick="history.back();" class="admin-button">Back to Art Main</button>
    </section>
</div>
<div class="studio-popup">
    <div>
        <partial name="Art/Studio/_Policies" />
    </div>
    <div>
        <partial name="Art/Studio/_Aftercare" />
    </div>
</div>

