@page
@model Portfolio.Pages.Art.TattoosModel
@{
}

<div>
    <partial name="Art/_ArtMenu" />
</div>
<div>
    <partial name="Art/_TattooThumbs" />
</div>
<div>
    <partial name="Art/_TattooGalleryViewer" />
</div>
