@page
@model Portfolio.Pages.Art.TattoosModel
@{
}


<div>
    <partial name="Art/_ArtMenu" />
</div>


<div class="gallery-grid">
    <div class="gallery-title-image g1">
        <h3>Tattoo Gallery</h3>
    </div>

    <div class="g2">
        <partial name="Art/_TattooGalleryViewer" />
    </div>

    <div class="g3">
        <partial name="Art/_GalleryEndNav" />
    </div>
</div>

