@model Portfolio.Pages.Art.StudioArcanumModel

<section>
    <h2>Aftercare</h2>
    <article>
        @Model.Studio.Aftercare
    </article>
    <button class="studio-popup-close">Close</button>
</section>