@page
@model IndexModel
@{
    ViewData["Title"] = "Scott Falbo";
}


<div class="main-container">
    <section class="intro-container">
        <partial name="_Intro" />
    </section>
    <section class="general-contact">
        <partial name="_Contact" />
    </section>
</div>
