@page
@model IndexModel
@{
    ViewData["Title"] = "Scott Falbo";
}


<div class="homepage-container">
    <div class="left-col">
        <figure>
            <img class="selfie" src="@Model.HomePage.Selfie" alt="Photo of Scott Falbo" />
            <figcaption class="tag-line">@Model.HomePage.Title</figcaption>
        </figure>
        <section class="desktop-menu">
            <partial name="Art/_MainLinks" />
        </section>
    </div>

    <div class="right-col">
        <article class="intro">@Model.HomePage.Intro</article>
        <div class="index-image">
            <img src="~/images/eye.png" />
        </div>

        <section class="mobile-menu">
            <partial name="Art/_MainLinks" />
        </section>
    </div>
</div>
