@page
@model IndexModel
@{
    ViewData["Title"] = "Scott Falbo";
}


<div class="main-container">
    <section class="intro-container">
        <partial name="_Intro" />
    </section>

    <section class="projects">
        <partial name="_Projects" />
    </section>

    <section class="skills">
        <partial name="_Skills" />
    </section>
</div>
