@page
@model IndexModel
@{
    ViewData["Title"] = "Scott Falbo";
}


<figure>
    <img class="selfie" src="~/images/code-selfie.png" />
    <figcaption class="tag-line">Software Developer | Artist <br /> Cat Enthusiast</figcaption>
</figure>

<article class="intro">
    Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Velit euismod in pellentesque massa placerat. Lectus quam id leo in vitae turpis massa sed elementum. Turpis egestas sed tempus urna et pharetra pharetra. Phasellus egestas tellus rutrum tellus pellentesque eu. Potenti nullam ac tortor vitae. Ultrices vitae auctor eu augue ut lectus arcu. Et netus et malesuada fames.
</article>

<section class="social">
    <img src="~/images/github-light.png" />
    <img src="~/images/linkedIn.png" />
</section>

<section class="projects">
    <h2>&lt;Projects&gt;</h2>
    <article class="card">
        <h3>SmallBoi: The Game</h3>
        <figure>
            <img src="~/images/smallboi.png" />
            <figcaption class="project-caption">here is a thing blah blah blah</figcaption>
        </figure>
    </article>
</section>
