@page
@model Portfolio.Pages.Admin.ProjectLairModel
@{
}

<section class="project-admin">
    <div>
        <partial name="Admin/_Projects" />
    </div>
    <div>
        <partial name="Admin/_AddProject" />
    </div>

</section>