@page
@model Portfolio.Pages.Admin.ProjectLairModel
@{
}

<section class="project-admin">
    <div>
        <partial name="Admin/_AdminMenu" />
    </div>
    <h1>Project Admin</h1>
    <div class="add-new-project">
        <partial name="Admin/_AddProject" />
    </div>
    <div>
        <partial name="Admin/_Projects" />
    </div>


</section>