@page
@model Portfolio.Pages.SecretLairModel
@{
}

<div class="secret-lair">
    <h1>&lt;Secret Admin Lair&gt;</h1>
    <div>
        <partial name="Admin/_AdminMenu" />
    </div>

    <div>
        <partial name="Admin/_EditHomePage" />
    </div>

</div>