@page
@model Portfolio.Pages.SecretLairModel
@{
}



<div class="secret-lair">
    <h1>&lt;Secret Admin Lair&gt;</h1>
    <a class="nav-link custom-link" asp-area="" asp-page="/Admin/ProjectLair">
        <p class="menu-button">&lt;Coding Projects&gt;</p>
    </a>
    <a class="nav-link custom-link" asp-area="" asp-page="/Admin/TattooLair">
        <p class="menu-button">&lt;Tattooing&gt;</p>
    </a>
    <a class="nav-link custom-link" asp-area="" asp-page="/Admin/DrawingLair">
        <p class="menu-button">&lt;Drawing&gt;</p>
    </a>
    <a href="@Url.Page("./Admin/ProjectLair")">Coding Projects</a>
    @Html.ActionLink("Coding Projects", "Admin/ProjectLair")
</div>