@model Portfolio.Pages.Code.ScottFalboCodeModel

<section class="art-intro-container">
    <div>
        <figure>
            <img src="@Model.HomePage.Selfie" alt="Scott Falbo" />
        </figure>
        <section class="title">
            <p>@Model.HomePage.Title</p>
        </section>
        <div class="gallery-links">
            <ul class="main-menu-nav">
                <li>
                    <a href="#" target="_blank">
                        <figure>
                            <img src="https://via.placeholder.com/80x80" alt="" />
                            <figcaption>GitHub</figcaption>
                        </figure>
                    </a>
                </li>
                <li>
                    <a href="#" target="_blank">
                        <figure>
                            <img src="https://via.placeholder.com/80x80" alt="" />
                            <figcaption>LinkedIn</figcaption>
                        </figure>
                    </a>
                </li>
                <li>
                    <a href="#" target="_blank">
                        <figure>
                            <img src="https://via.placeholder.com/80x80" alt="" />
                            <figcaption>Contact</figcaption>
                        </figure>
                    </a>
                </li>
            </ul>
        </div>
    </div>
    <div>
        <div><img src="https://via.placeholder.com/400x50" /></div>
        <article>
            @Model.HomePage.Intro
        </article>

    </div>
</section>