@model Portfolio.Pages.Art.ScottFalboArtModel

<section class="art-intro-container">
    <figure>
        <img src="@Model.HomePage.Selfie" alt="Scott Falbo"/>
    </figure>
    <section class="title-social">
        <p>@Model.HomePage.Title</p>
        <div>
            insta
        </div>
    </section>
    <div class="gallery-links">
        <a href="#">tattoos</a>
        <a href="#">drawings</a>
    </div>
    <article>
        @Model.HomePage.Intro
    </article>
    <section class="insta-gallery">
        instagram gallery
    </section>
</section>