@model Portfolio.Pages.Art.ScottFalboArtModel

<section class="art-intro-container">
    <div>
        <figure>
            <img src="@Model.HomePage.Selfie" alt="Scott Falbo" />
        </figure>
        <section class="title">
            <p>@Model.HomePage.Title</p>
        </section>
        <div class="gallery-links">
            <ul class="main-menu-nav">
                <li>
                    <a asp-page="/Art/Tattoos">
                        <figure>
                            <img src="/images/site_logos/tattoo.png" alt="" />
                            <figcaption>Tattoos</figcaption>
                        </figure>
                    </a>
                </li>
                <li>
                    <a asp-page="/Art/Drawings">
                        <figure>
                            <img src="/images/site_logos/pencils.png" alt="" />
                            <figcaption>Drawings</figcaption>
                        </figure>
                    </a>
                </li>
                <li>
                    <a href="https://www.instagram.com/scottfalboart/" target="_blank">
                        <figure>
                            <img src="/images/site_logos/instagram.png" alt="" />
                            <figcaption>Instagram</figcaption>
                        </figure>
                    </a>
                </li>
            </ul>
        </div>
    </div>
    <div>
        <div><img src="https://via.placeholder.com/400x50" /></div>
        <article>
            @Model.HomePage.Intro
        </article>
    </div>
</section>