@model Portfolio.Pages.Art.DrawingsModel

<section class="gallery-thumbs">
    <div class="thumb-container">
        @foreach (var drawing in Model.Drawings)
        {
            <a href="#Gallery-Control" role="button" data-slide-to="@Model.Drawings.IndexOf(drawing)" class="gallery-toggle">
                <figure>
                    <img src="@drawing.ImageURL" alt="@drawing.Title" />
                </figure>
            </a>
        }
    </div>
</section>