@model Portfolio.Pages.Art.DrawingsModel

<section id="Gallery-Control" class="carousel slide" data-ride="carousel" data-interval="0">
    <div>
        <partial name="Art/_DrawingThumbs" />
    </div>
    <div class="show-gallery tattoo-gallery" id="gallery-switch">
        <div class="carousel-inner">
            @foreach (var drawing in Model.Drawings)
            {
                <figure class="carousel-item @(drawing == Model.Drawings.First() ? "active" : "")">
                    <img class="d-block w-100" src="@drawing.ImageURL" alt="@drawing.Title" />
                </figure>
            }
            <div class="close-gallery">✖</div>
        </div>
        <a class="carousel-control-prev" href="#Gallery-Control" role="button" data-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="sr-only">Previous</span>
        </a>
        <a class="carousel-control-next" href="#Gallery-Control" role="button" data-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="sr-only">Next</span>
        </a>
    </div>
</section>