<section class="gallery-end-nav">
    <ul>
        <li>
            <button type="button" onclick="history.back();" class="admin-button">Back to Art Main</button>
        </li>
        <li>
                <a asp-page="/Art/Booking">
                    <div class="admin-button">
                        <p>Booking Info</p>
                    </div>
                </a>
        </li>
    </ul>
</section>