<section class="insta-gallery-viewer">
    <div class="insta-thumb-container">
        <img src="https://via.placeholder.com/50x50" />
        <img src="https://via.placeholder.com/50x50" />
        <img src="https://via.placeholder.com/50x50" />
        <img src="https://via.placeholder.com/50x50" />
        <img src="https://via.placeholder.com/50x50" />
        <img src="https://via.placeholder.com/50x50" />
        <img src="https://via.placeholder.com/50x50" />
        <img src="https://via.placeholder.com/50x50" />
        <img src="https://via.placeholder.com/50x50" />
        <img src="https://via.placeholder.com/50x50" />

        <img src="https://via.placeholder.com/50x50" />
        <img src="https://via.placeholder.com/50x50" />
        <img src="https://via.placeholder.com/50x50" />
        <img src="https://via.placeholder.com/50x50" />
        <img src="https://via.placeholder.com/50x50" />
        <img src="https://via.placeholder.com/50x50" />
        <img src="https://via.placeholder.com/50x50" />
        <img src="https://via.placeholder.com/50x50" />
        <img src="https://via.placeholder.com/50x50" />
        <img src="https://via.placeholder.com/50x50" />
     </div>
</section>