@model Portfolio.Pages.Art.ScottFalboArtModel

<section class="gallery-thumbs">
    <div class="thumb-container">
        @foreach (var image in Model.InstagramGallery)
        {
            <a href="#Gallery-Control" role="button" data-slide-to="@Model.InstagramGallery.IndexOf(image)" class="gallery-toggle">
                <figure>
                    <img src="@image.ImageURL" alt="Instagram feed photo from scottfalboart" />
                </figure>
            </a>
        }
    </div>
</section>