<ul class="main-menu-nav">
    <li>
        <a asp-page="/Code/ScottFalboCode">
            <figure>
                <img src="https://via.placeholder.com/80x80" alt="" />
                <figcaption>Code</figcaption>
            </figure>
        </a>
    </li>
    <li>
        <a asp-page="/Art/ScottFalboArt">
            <figure>
                <img src="https://via.placeholder.com/80x80" alt="" />
                <figcaption>Art</figcaption>
            </figure>
        </a>
    </li>
    <li class="toggle-contact">
        <figure>
            <img src="https://via.placeholder.com/80x80" alt="email: scottfalboart@gmail.com" />
            <figcaption>Contact</figcaption>
        </figure>
    </li>
</ul>
<ul class="main-menu-nav">
    <li>
        <a href="#" target="_blank">
            <figure>
                <img src="https://via.placeholder.com/80x80" alt="" />
                <figcaption>GitHub</figcaption>
            </figure>
        </a>
    </li>
    <li>
        <a href="#" target="_blank">
            <figure>
                <img src="https://via.placeholder.com/80x80" alt="" />
                <figcaption>LinkedIn</figcaption>
            </figure>
        </a>
    </li>
    <li>
        <a href="#" target="_blank">
            <figure>
                <img src="https://via.placeholder.com/80x80" alt="" />
                <figcaption>Instagram</figcaption>
            </figure>
        </a>
    </li>
</ul>