@model Portfolio.Pages.Art.BookingModel

 <script>
     function onSubmit(token) {
         console.log(token);
     document.getElementById("request-form").submit();
   }
 </script>

<section class="project-admin-card">
    <div>
        <form asp-page-handler="Send" method="post" class="request-form" enctype="multipart/form-data" id="request-form">
            <div>
                <input type="text" asp-for="@Model.RequestForm.Name" class="form-control" placeholder="name" required />
            </div>
            <div>
                <input type="text" asp-for="@Model.RequestForm.Email" class="form-control" placeholder="email" required />
            </div>
            <div>
                <textarea type="text" cols="45" rows="5" asp-for="@Model.RequestForm.Body" class="form-control" placeholder="What is your tattoo idea?" required></textarea>
            </div>
            <div>
                <textarea type="text" cols="45" rows="3" asp-for="@Model.RequestForm.Availability" class="form-control" placeholder="What is your general availability?" required></textarea>
            </div>
            @if (!Model.WasSent)
            {
                <div class="request-image-upload">
                    <p>Attach References <span>(optional)</span></p>
                    <input name="files" type="file" multiple="multiple" accept="image/*" class="request-upload"/>
                </div>
                <div><input class="site-button g-recaptcha loader" type="submit" value="Send Request" data-sitekey=@Model.CaptchaKey data-callback="onSubmit" data-action="sumbit"/></div>
            }
            else
            {
                <p class="request-sent">Your request was sent.</p>
            }
        </form>
    </div>
    <div class="upload-too-large hide-me">
        <p>Please limit your upload size to 20mb</p>
        <button type="button" class="upload-too-large-close admin-button">Got it</button>
    </div>
</section>