@model Portfolio.Pages.Art.BookingModel

<section class="project-admin-card">
    <div>
        <form asp-page-handler="Send" method="post">
            <div>
                <input type="text" asp-for="@Model.RequestForm.Name" class="form-control" placeholder="name" required />
            </div>
            <div>
                <input type="text" asp-for="@Model.RequestForm.Email" class="form-control" placeholder="email" required />
            </div>
            <div>
                <input type="text" asp-for="@Model.RequestForm.Idea" class="form-control" placeholder="idea" required />
            </div>
            <div>
                <input type="text" asp-for="@Model.RequestForm.Availability" class="form-control" placeholder="times" required />
            </div>
            <div><input class="admin-button" type="submit" value="Send Request" /></div>
        </form>
    </div>
</section>