@model Portfolio.Pages.Art.TattoosModel

<section class="gallery-thumbs">
    <div class="thumb-container">
        @foreach (var tattoo in Model.Tattoos)
        {
            <a href="#Gallery-Control" role="button" data-slide-to="@Model.Tattoos.IndexOf(tattoo)" class="gallery-toggle">
                <figure>
                    <img src="@tattoo.ImageURL" alt="@tattoo.Title" />
                </figure>
            </a>
        }
    </div>
    @if (Model.Loadable)
    {
        <form asp-page-handler="LoadMore" method="post">
            <input type="hidden" asp-for="Limit" value="@Model.Limit" />
            <input type="submit" value="Load More" />
        </form>
    }
</section>
