@model Portfolio.Pages.Art.TattoosModel

<section class="gallery-thumbs">
    <div class="thumb-container">
        @foreach(var tattoo in Model.Tattoos)
        {
            <button type="button" id="@tattoo.Title">
                <figure>
                    <img src="@tattoo.ImageURL" />
                </figure>
             </button>
             <script>
                 $(function () {
                     $("#@tattoo.Title").click(function () {
                         $(".@tattoo.Title").addClass("active");
                     });
                 });
             </script>
        }
    </div>
</section>