@model Portfolio.Pages.Art.TattoosModel

<section class="gallery-thumbs">
    <div class="thumb-container">
        @foreach(var tattoo in Model.Tattoos)
        {
            <figure>
                <img src="@tattoo.ImageURL" />
            </figure>
        }
    </div>
</section>